# Ignore local node_modules (as they will be installed in the container)
node_modules

# Ignore Docker dependencies, configuration files, and Docker Compose
docker-compose.yml
*.dockerignore

# Ignore log files
*.log
logs
*.log.*

# Ignore build files and local IDE configurations
dist
.idea
.vscode
.DS_Store