@tailwind base;
@tailwind components;
@tailwind utilities;

.chart-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las gráficas en pantallas pequeñas */
  gap: 20px; /* Espaciado entre las gráficas */
  width: 100%;
  align-items: center; /* Centra las gráficas verticalmente si hay más de una fila */
}

/* Contenedor de cada gráfica */
.chart-container {
  flex-basis: 45%; /* Cada gráfica ocupará el 45% del espacio disponible */
  max-width: 45%; /* Limita el ancho máximo al 45% */
  height: auto; /* Mantiene la altura dinámica */
  margin: 10px 10px; /* Espaciado entre las gráficas */
}

@media (max-width: 1024px) {
  .chart-wrapper {
    justify-content: center; /* Asegura que las gráficas se centren */
  }
  .chart-container {
    flex-basis: 48%; /* Cada gráfica ocupará el 48% del espacio disponible en tablet */
    max-width: 48%; /* Limita el ancho máximo al 48% */
  }
}

/* Estilo para pantallas pequeñas (móviles, máximo 640px) */
@media (max-width: 640px) {
  .chart-wrapper {
    justify-content: center; /* Asegura que las gráficas se centren */
  }
  .chart-container {
    flex-basis: 100%; /* Cada gráfica ocupará el 100% del espacio disponible */
    max-width: 100%; /* Limita el ancho máximo al 100% */
    margin: 10px 0; /* Para tener un margen vertical entre las gráficas */
  }
}
