{{! partials/navbar.hbs }}
<header class='bg-gray-800 text-white py-4'>
  <nav class='container mx-auto flex justify-between'>
    <a href='/' class='text-xl font-bold'>
      SolidarianID
    </a>
    <ul class='flex space-x-4'>
      <li>
        <a href='/login' class='hover:underline'>
          Login
        </a>
      </li>
      <li>
        <a href='/register' class='hover:underline'>
          Register
        </a>
      </li>
    </ul>
  </nav>
</header>