{{! partials/navbar.hbs }}
<header class='bg-gray-800 text-white py-4'>
  <nav class='container mx-auto flex justify-between'>
    <div class="flex items-center space-x-6">
      <a href='/' class='text-xl font-bold'>
        SolidarianID
      </a>

      {{#if (eq user.roles 'user')}}
      <a href='/validation' class='hover:underline'>
        Dashboard
      </a>
      {{/if}}
    </div>

    <ul class='flex space-x-4'>
      {{#if (not user)}}
      <li>
        <a href='/login' class='hover:underline'>
          Login
        </a>
      </li>
      <li>
        <a href='/register' class='hover:underline'>
          Register
        </a>
      </li>
      {{/if}}

      {{#if user}}
      <p class="text-base">Welcome, {{user.firstName}} {{user.lastName}} [ {{user.roles}} ]</p>
      {{/if}}
    </ul>
  </nav>
</header>