<div class="chart-container">
    <canvas id="combinedChart"></canvas>
</div>
<div class="chart-container">
    <canvas id="supportByOsdPieChart"></canvas>
</div>
<div class="chart-container">
    <canvas id="supportByCommunityPieChart"></canvas>
</div>
<div class="chart-container">
    <canvas id="polarAreaChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart.js"></script>
<script>
    window.onload = function () {

        const dataByOds = `{{{ datasByOds }}}`;
        const datas = JSON.parse(dataByOds);

        // Combined Chart
        generateCombinedChart(datas, 'combinedChart');

        // Pie chart for supports by ODS
        const labels = datas.map((item) => item.ods.title);
        const supportsOdsData = datas.map((item) => parseFloat(item.averageSupport));
        generateSupportsPieChart(labels, supportsOdsData, 'supportByOsdPieChart', 'Supports by ODS');

        const datasByCommunity = `{{{ datasByCommunity }}}`;
        const communityData = JSON.parse(datasByCommunity);

        // Pie chart for supports by Community
        const labels2 = communityData.map((item) => item.communityName);
        const supportsCommunityData = communityData.map((item) => parseFloat(item.averageSupport));
        generateSupportsPieChart(labels2, supportsCommunityData, 'supportByCommunityPieChart', 'Supports by Community');

        // Polar Area Chart for Actions Progress by Community

        const labels3 = communityData.map((item) => item.communityName); // Nombres de las comunidades
        const progressData = communityData.map((item) => item.averageActionsProgress); // Progreso de cada comunidad
        generatePolarAreaChart(labels3, progressData, 'polarAreaChart', 'Actions Progress by Community');
    };
</script>